In [ ]:
print('Cognitive Assignment 2')

Cognitive Assignment 2

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:
#QUESTION 1
L=[10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("After adding 200 and 300:", L)
L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)
L.sort()
print("Sorted in ascending order:", L)
L.sort(reverse=True)
print("Sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [ ]:
#QUESTION 2
scores = (45,89.5,76,45.4,89,92,58,45)
print('Highest score is: ',max(scores))
print('Highest score present at index: ',scores.index(max(scores)))
print('Lowest score is: ',min(scores))
print('Lowest score present for these many times: ',scores.count(min(scores)))
reversed_list = list(reversed(scores))
print('Reversed list: ',reversed_list)
score_to_check=76
if score_to_check in scores:
    print(f'{score_to_check} is present in the tuple.')
else:
    print(f'{score_to_check} is not present in the tuple.')

Highest score is:  92
Highest score present at index:  5
Lowest score is:  45
Lowest score present for these many times:  2
Reversed list:  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 is present in the tuple.

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
#QUESTION 3
import random as r
l=[]
for i in range(100):
  l.append(r.randint(100,900))
even_count=0
odd_count=0
prime_count=0;
print("All even numbers are: ")
for item in l:
  if item %2 == 0:
    print(item ,end=" ")
    even_count=even_count+1
print("\n The total number even number are: ",even_count)

print("\n All odd numbers are: ")
for item in l:
  if item %2 == 1:
    print(item ,end=" ")
    odd_count=odd_count+1
print("\n The total number odd number are: ",odd_count)

print("\n All prime numbers are: ")
for item in l:
  found=False
  for j in range(2,item//2+1):
    if item % j == 0:
      found=True
    if found==False:
      print(item ,end=" ")
      prime_count=prime_count+1
print("\n The total number prime number are: ",prime_count)

In [ ]:
list2 = 1, 2, 3, 4
print(list2)
tuple1 = (1)
tuple2 = (1,) #tuple2 is tuple but tuple1 not tuple
print(tuple1)
print(tuple2)
print(type(tuple1))
print(type(tuple2))
dict1 = {1: "one", 2: "two", 3: "three"}
dict2 = {3: "four",5: "five",6: "six"}
print(dict1)
print(dict2)
print(dict1 | dict2)
print(dict1.update(dict2))

(1, 2, 3, 4)
1
(1,)
<class 'int'>
<class 'tuple'>
{1: 'one', 2: 'two', 3: 'three'}
{3: 'four', 5: 'five', 6: 'six'}
{1: 'one', 2: 'two', 3: 'four', 5: 'five', 6: 'six'}
None

4. Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [1]:
#QUESTION 4
A={34,56,78,90}
B={78,45,90,23}
print("The unique scores achieved by both teams: ",A.union(B))

print("The scores that are common to both teams: ",A.intersection(B))

print("The scores that are exclusive to each team: ",A^B)

if A.issubset(B):
  print("Set A is subset of the set B")
else:
  print("Set A is not the subset of the set B")
if B.issuperset(A):
  print("Set B is superset of the set A")
else:
  print("Set B is not the superset of the set A")

searching_ele=int(input("Enter the search element: "))
if searching_ele in A:
  print("The search element is present in the set")
else:
  print("The search element is not present in the set")

The unique scores achieved by both teams:  {34, 45, 78, 23, 56, 90}
The scores that are common to both teams:  {90, 78}
The scores that are exclusive to each team:  {34, 45, 23, 56}
Set A is not the subset of the set B
Set B is not the superset of the set A
Enter the search element: 45
The search element is not present in the set

5. Write a program to rename a key city to a locaƟon in the following dictionary.

In [5]:
#QUESTION 5
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
print("The original dictionary is: ")
print(sample_dict)

sample_dict.pop("city")
sample_dict["location"]="New York"
print()
print("After updation the new dictionary is : ")
print (sample_dict)

The original dictionary is:
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}

After updation the new dictionary is :
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}