Assignment 1.1: WAP to print your name three times

In [ ]:
print("Balkaran Singh")
print("Balkaran Singh")
print("Balkaran Singh")

Balkaran Singh
Balkaran Singh
Balkaran Singh

Assignment 2.1: WAP to add three numbers and print the result.

In [ ]:
a=10
b=20
c=30
d=a+b+c
print(a,"+",b,"+",c,"--->",d)

10 + 20 + 30 ---> 60

Assignment 2.2: WAP to concatinate three strings and print the result.

In [1]:
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")
str3 = input("Enter the third string: ")
result = str1 + str2 + str3
print("The concatenated string is: ",result)

Enter the first string: hi
Enter the second string: hello
Enter the third string: welcome
The concatenated string is:  hihellowelcome

Assignment 4.1: WAP to print the table of 7, 9.

In [2]:
print("table of 7 is -> ")
print()
for i in range(1,11):
  print("7 * ", i ,"  =  " , i*7)
print()
print("table of 9 is -> ")
print()
for i in range(1,11):
  print("9 * ", i ,"  =  " , i*9)

table of 7 is ->

7 *  1   =   7
7 *  2   =   14
7 *  3   =   21
7 *  4   =   28
7 *  5   =   35
7 *  6   =   42
7 *  7   =   49
7 *  8   =   56
7 *  9   =   63
7 *  10   =   70

table of 9 is ->

9 *  1   =   9
9 *  2   =   18
9 *  3   =   27
9 *  4   =   36
9 *  5   =   45
9 *  6   =   54
9 *  7   =   63
9 *  8   =   72
9 *  9   =   81
9 *  10   =   90

Assignment 4.2: WAP to print the table of n and n is given by user.

In [3]:
n=int(input("Enter a number: "))
print("Table of ", n ," is -> ")
print()
for i in range(1,11):
  print(n , " * ", i ,"  =  " , i*n)

Enter a number: 5
Table of  5  is ->

5  *  1   =   5
5  *  2   =   10
5  *  3   =   15
5  *  4   =   20
5  *  5   =   25
5  *  6   =   30
5  *  7   =   35
5  *  8   =   40
5  *  9   =   45
5  *  10   =   50

Assignment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [6]:
n=int(input("Enter the ending limit: "))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(f"The sum of first {n} natural numbers are: ",sum)

Enter the ending limit: 16
The sum of first 16 natural numbers are:  136

Assingment 5.1: WAP to find max amoung three numbers and input from user. [Try max() function]

In [7]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
maximum = max(num1, num2, num3)
print(f"The maximum among the three numbers is: {maximum}")

Enter the first number: 7
Enter the second number: 8
Enter the third number: 3
The maximum among the three numbers is: 8.0

Assingment 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [9]:
n=int(input("Enter the ending limit: "))
sum=0
for i in range(1,n+1):
  if(i% 7==0 and i%9==0):
    sum=sum+i
print("The sum is : ",sum)

Enter the ending limit: 150
The sum is :  189

Assingment 5.3: WAP to add all prime numbers from 1 to n and n is given by the user.

In [10]:
n=int(input("Enter the ending limit: "))
sum=0
for i in range(1,n+1):
  f=0
  for j in range(2,i//2+1):
    if(i%j==0):
      f=1
  if(f==0):
    sum=sum+i
print("The sum is : ",sum)

Enter the ending limit: 150
The sum is :  2277

Assingment 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [11]:
def sum_of_odd_numbers(n):
  s=0
  for i in range(1,n+1):
    if(i%2!=0):
      s=s+i
  return s

n=int(input("Enter the ending limit: "))
sum=sum_of_odd_numbers(n)
print("The sum is : ",sum)

Enter the ending limit: 150
The sum is :  5625

Assingment 6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [13]:
def sum_of_prime_numbers(n):
  s=0
  for i in range(1,n+1):
    f=0
    for j in range (2,i//2 +1):
      if i%j==0:
        f=1
    if(f==0):
      s=s+i
  return s

n=int(input("Enter the ending limit: "))
sum=sum_of_prime_numbers(n)
print("The sum is : ",sum)

Enter the ending limit: 150
The sum is :  2277