In [1]:
print("Balkaran Singh")
print("Balkaran Singh")
print("Balkaran Singh")

Balkaran Singh
Balkaran Singh
Balkaran Singh

In [2]:
a=10
b=20
c=30
d=a+b+c
print(a,"+",b,"+",c,"--->",d)

10 + 20 + 30 ---> 60

In [ ]:
a= int(input('Enter First Number: '))
b= int(input('Enter Second Number: '))
c= a+b
print (a, " + ", b, " --> ", c)

Enter First Number: 5
Enter Second Number: 10
5  +  10  -->  15

In [ ]:
i=1
while i <= 10:
	print (i)
	i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [ ]:
for i in range(10,20,2):
  print(i)

10
12
14
16
18

In [5]:
n=int(input("Enter a number: "))
print("Table of ", n ," is -> ")
print()
for i in range(1,11):
  print(n , " * ", i ,"  =  " , i*n)

Enter a number: 11
Table of  11  is ->

11  *  1   =   11
11  *  2   =   22
11  *  3   =   33
11  *  4   =   44
11  *  5   =   55
11  *  6   =   66
11  *  7   =   77
11  *  8   =   88
11  *  9   =   99
11  *  10   =   110

In [ ]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b:
	print (a," > ",b)
else:
	print (a," < ",b)

Enter First No: 5
Enter Second No: 10
5  <  10

In [6]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
c=int(input("Enter the third number: "))
max1=max(a,b)
max_ele=max(max1,c)
print("The largest number is: ",max_ele)

Enter the first number: 3
Enter the second number: 5
Enter the third number: 7
The largest number is:  7

In [ ]:
def add(a,b):
	c=a+b
	return c

add(10,20)

30

In [ ]:
def isprime(n):
  for i in range(2,n//2+1):
    if n%i == 0:
      return 0
    return 1

isprime(20)

0

In [7]:
#Adds all prime numbers from 1 to the given limit
n=int(input("Enter the ending limit: "))
sum=0
for i in range(1,n+1):
  f=0
  for j in range(2,i//2+1):
    if(i%j==0):
      f=1
  if(f==0):
    sum=sum+i
print("The sum is : ",sum)

Enter the ending limit: 18
The sum is :  59

In [8]:
#Function to add all prime numbers from 1 to the given limit
def sum_of_prime_numbers(n):
  s=0
  for i in range(1,n+1):
    f=0
    for j in range (2,i//2 +1):
      if i%j==0:
        f=1
    if(f==0):
      s=s+i
  return s

n=int(input("Enter the ending limit: "))
sum=sum_of_prime_numbers(n)
print("The sum is : ",sum)

Enter the ending limit: 18
The sum is :  59

In [ ]:
import math as m
m.sqrt(324)

18.0